body,
html {
    background-image: linear-gradient(140deg, rgb(37, 150, 190) 0%, rgb(51, 255, 87) 50%, rgb(112 0 98 / 63%) 75%);
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
    background-position: center;
    align-items: center;
    display: flex;

    width: 100%;
}

.buttons {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 8px;
}

.btn {
    width: 91px;
    height: 91px;
    font-size: 42px;
    color: rgb(255 255 255);
    border-radius: 4px;
    background: rgb(255 255 255 / 14%);
    border: 1px solid rgb(255 255 255 / 14%);

}

.btn:hover {
    background-color: rgb(255 255 255 / 73%);
    border: 2px solid rgb(255 255 255);
    color: rgb(0 0 0);
}

.container {
    width: fit-content;
    text-align: center;
    margin: auto;
    margin-top: 140px;
}

#resultBox {
    border-radius: 4px;
    margin: 0px 0px 7px 0px;
    background-color: rgb(255 255 255 / 26%);
    border: 1px solid rgb(255 255 255);
    padding: 0px 0px 0px 10px;
    color: rgb(255 255 255);
    width: 97%;
    height: 4rem;
    font-size: 31px;
}

.result {
    width: 183px;
    height: 48px;
    margin: 10px 0px 0px 0px;
    font-size: 30px;
}

#result {
    margin: 8px 0px 0px 0px;
    width: 12rem;
    height: 3rem;
    font-size: 30px;
    background-color: rgb(255 255 255 / 73%);
    border: 1px solid rgb(255 255 255);
    color: rgb(0 0 0);
    border-radius: 5px;
}

#result:hover {
    color: rgb(255 255 255);

    background: rgba(255, 255, 255, 0.401);
    border: 1px solid rgb(255 255 255 / 14%);
}